/*************/
/* VARIABLES */
/*************/
$color-pri: #111111;
$color-sec: #555555;
$color-ter: #92BCEA;

/********/
/* BASE */
/********/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {font:400 16px 'Montserrat', sans-serf;}

/**********/
/* LAYOUT */
/**********/

#header {position:relative;}
#header-content {width:100%;}
#header-logo {padding:1em; background:$color-pri;}
#header-nav {padding:1em; background:$color-sec;}
#header-nav-toggle {
    color:#fff;
    font-size:2em;
    position:absolute;
    top:.5em;
    right:.5em;
    z-index:1;
    cursor:pointer;

	&:hover {
		opacity: 0.85;
		text-decoration: none;
		border: none;
    }
}
    
/***********/
/* MODULES */
/***********/

/* Measure */
.measure {width:90%; max-width:800px; margin:0 auto;}

/* Logo */
.logo {color:#fff; font-weight:700; margin:0;}

/* Nav */
.nav {list-style:none; margin:0; padding:0;}
.nav li {width:100%; margin:0 0 1em 0; display:block;}
.nav li:last-child {margin:0;}
.nav a {color:#fff; text-decoration:none;}


/*************/
/* MODIFIERS */
/*************/
.is-hidden {display:none;}
.is-visible {display:block;}


/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width:600px) {
  /* Header */
  #header {padding:1em; background:$color-pri;}
  #header-content {max-width:800px; margin:0 auto; overflow:hidden;}
  #header-logo {padding:0; background:none; float:left;}
  #header-nav  {padding:.5em; background:none; float:right; display:block;}
  #header-nav-toggle {display:none;}
  
  /* Nav */
  .nav li {width:auto; margin:0 .5em; display:inline-block;}
  
}