
@media screen and (min-width: 520px) {

header {
    text-align: left;
    padding: 1em;

    .header-container {
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;

        .header-logo {
            padding: 0;
            background: none;
            float: left;
        }

        nav {
            padding: .5em;
            background: none;
            float: right;
            display: block;

            ul li {
                width: auto;
                margin: 0 .5em;
                display: inline-block;
            }
        }

        .header-nav-toggle {
            display: none;
        }
    }
}

main {
    width: 90%;

    .features li {
        flex-basis: 50%;
    }
}

}

