
/*************/
/* VARIABLES */
/*************/
/*
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
*/
// $color-white: #fff;
// $color-black: #000;

$color-sec: #555555;
$color-ter: #92BCEA;

// $primary-text-color: #7f8c8d;


// Collection of colors

$app-colors: (
    primary: #1f8dd6,
    dark-color: #2d3e50,
    light-color: #ebebeb,
    item-color: #6FBEF3,
    white-color: #ffffff,
    item-select-color: #AECFE5,
);
@function app-color($key: 'primary') {
    @return map-get($app-colors, $key);
}

// Palettes of colors

$palettes: (
    primary: (
        base: app-color('primary'),
        light: lighten(app-color('primary'), 8%),
        dark: darken(app-color('primary'), 8%),
        tinted: mix(white, app-color('primary'), 10%),
        shaded: mix(black, app-color('primary'), 10%)
    ),
    header: (
        base: app-color('dark-color'),
        text: app-color('white-color'),
        select: lighten(app-color('item-color'), 15%)
    ),
    main: (
        base: app-color('light-color'),
        text: app-color('dark-color'),        
    )
);
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// color: palette(header, text);
// color: palette(introduction, text);
// color: palette(header, select);
// color: palette(primary, light);


$fa-font-path: "../fonts/font-awesome";
@import "vendor/font-awesome/font-awesome";

$font-stack: 'Roboto Condensed', sans-serif;
