
/*secrets to align text and icons*/
/*
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
*/

@import '_variables';

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// @import 'vendor/_normalize';

/********/
/* BASE */
/********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: 16px;
    font-weight: 400;
    font-family: $font-stack;
    --cover-min-height: 100px;
}

.hide {
    display: none!important;
}

.is-closed {
    display: none;
}

.clearfix {
    @include clearfix;
}

@import '_header';

@import '_main';

@import '_responsive';

/*
header {
    padding: 25px 0 15px 0;
    h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 3rem;
        color: rgb(27, 188, 155);
        display: inline;
        span {
            font-weight: bold;
        }
    }
    nav {
        list-style-type: none;
        display: inline;
        ul {
            padding: 0;
            display: inline;
            li {
                display: inline;
                margin-right: 20px;
                text-transform: uppercase;
                color: rgb(27, 188, 155);
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}
*/

